/* flash news */

.flash-news .article-item-info {
    padding-bottom: 10px;
}

.flash-news img {
    width: 100%;
    max-width: 100%;
}

.flash-news .article-item {
    margin-bottom: 15px !important;
}

.flash-news .article-item .article-source-info {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.flash-news .article-item .article-source-info .article-source {
    color: #939393;
}

.flash-news .article-item .article-image-link {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.flash-news .article-item > div {
    font-size: 18px;
    line-height: 30px;
}

.flash-news .article-item p {
  margin-bottom: 29px;
}

.article-detail h2, .article-detail h3 {
    padding: 0px;
}

/* disable image magnifier in article gallery and article body */

.article-gallery .article-gallery-image .current-image::after,
.article-detail .article-image-link:after {
    content: '';
    border: 0px;
}

.article-text .ext-link {
    background-color: #f4f4f4;
    padding: 20px 15px 20px 15px;
}

.article-item-list-1 {
    width: 90%;
    margin: 0px 16px;
}

.article-item-list-1 li .article-item-list-left {
    width: calc(100% - 110px) !important;
}

.article-gallery .article-gallery-image, .article-gallery .article-gallery-image img {
    max-height: 750px;
}

@media (min-width: 768px) {
    .prev-image, .next-image {
        top: 200px !important;
    }
}

@media (max-width: 767px) {
    .prev-image, .next-image {
        top: 10vh !important;
    }
}

/* Chords */
.song-text-right-image {
    display: block !important;
}
@page { size: portrait; }
@media print {
    .song-text-right-image svg {
        height: 140px;
        display: inline;
        float: left;
        margin-bottom: 15px;
    }
}
.inline-chord {
    position: relative;
    display: inline-block;
}
.inline-chord .chord-tooltip {
    visibility: hidden;
    background-color: #FEFEFE;
    color: #000;
    text-align: left;
    border-radius: 0px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    width: 200px;
    bottom: -420%;
    left: 100%;
    margin-left: 30px; /* Use half of the width (120/2 = 60), to center the tooltip */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
.inline-chord:hover .chord-tooltip {
    visibility: visible;
}


/* gallery tooltip */

.article-gallery .current-image .nav-tooltip-text {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #009cdc;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: none;
}